@model IEnumerable<ConsumingWebAapiRESTinMVC.Models.PostModel>

@{
    ViewBag.Title = "www.compilemode.com";
}
@foreach (var item in Model)
{

    <div class="row post">
        <div class="col-md-1">
            <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-11">
            <span class="subreddit-info">
                <span> . Posted by <a class="username"> @Html.ActionLink(item.userName, "PostsByUser", "home", new { name = item.userName }, null)</a></span>
                <span> .@Html.DisplayFor(modelItem => item.duration) </span>
            </span>
            <hr />
            <div class="post-title">
                <a class="postname"> @Html.DisplayFor(modelItem => item.title) </a>
            </div>
            <div>
                <p class="post-text">@Html.DisplayFor(modelItem => item.description) </p>
            </div>
            <hr />
            <span>
                <a class="btnCommments" role="button">
                    <fa-icon [icon]="faComments"></fa-icon>
                    Comments  @Html.DisplayFor(modelItem => item.commentCount)
                </a>
                <button class="login" (click)="goToPost(post.id)">
                    Read Post
                </button>
            </span>
        </div>
    </div>

}


